# png files
*.png

# tensorboard runs data
runs/ 

# ignore vscode
.vscode/

# ignore Zone.Identifier files
*Zone.Identifier

# ignore pycache
__pycache__/

# npy files
*.npy

# replay buffers
ReplayBuffer/

# caches
CacheLocation

# saved designs
SavedDesigns

# tmp
tmp/

# logs
*.log 

#.github/
.github/

#.codex
.codex